        .containerlinha{
            display: flex;
            justify-content: center; 
            flex-direction: row
       }
        .containercoluna{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .separa10{
            margin: 5px;
        }
        .inputck{
            width: 250px;
            align-items:flex-start;
        }
         .nowrap {
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 5px;
        }
        .borda{
            border: 1px solid;
        }
        .bordaarredondada {
            border-radius: 1rem;
        }
        button{
            width: 30px;
            height: 30px;
        }
        input[type=text]{
            border-radius: 0.5rem;
            height: 25px;
        }
        img{
            padding-top: 4px;
        }
        .principal{
            margin-left: 33%;
            margin-right: 33%;
            padding-bottom: 50px; 
            background-color: rgb(210, 224, 238);
        }
